body {
    overflow-x: hidden;
  }
  
  #wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  #wrapper.toggled {
    padding-left: 250px;
  }
  
  .active {
    font-weight: bold;
  }
  #sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #5b401c;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  
  #page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
  }
  
  #wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
  }
  
  
  /* Sidebar Styles */
  
  .sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
  }
  
  .sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
  }
  
  .sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
  }
  
  .sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
  }
  
  .sidebar-nav>.sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
  }
  
  .sidebar-nav>.sidebar-brand a {
    color: #999999;
  }
  
  .sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: none;
  }
  
  @media(min-width:768px) {
    #wrapper {
      padding-left: 0;
    }
    #wrapper.toggled {
      padding-left: 250px;
    }
    #sidebar-wrapper {
      width: 0;
    }
    #wrapper.toggled #sidebar-wrapper {
      width: 250px;
    }
    #page-content-wrapper {
      padding: 20px;
      position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: 0;
    }
  }
.btn-primary {
    background-color: #ca8b37;
    border-color: #ca8b37;
}
.btn-primary:link {
    background-color: #ca8b37;
    border-color: #ca8b37;
}
.btn-primary:hover {
    background-color: #5b401c;
    border-color: #5b401c;    
}
.btn-primary:disabled {
    background-color: #ca8b37;
    border-color: #ca8b37;
}
.navbar-brand img{
  max-height: 40px;
}
.bg-brown {
  background-color: #ca8b37;
}
.bg-darkbrown {
  background-color: #5b401c ;
}
.btn-danger {
  color: #fff !important;
  background-color: #dc3545;
  border-color: #dc3545;
}
.btn-warning {
  color: #fff;
  background-color: #ffc107;
  border-color: #ffc107;
}
.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
.btn-warning:hover {
  color: #fff;
}
.btn-success:hover {
  color: #fff;
}
table {
  margin: 0;
  width: 100%;
}
.table .thead-dark th {
  color: #fff;
  border-color: #ca8b37 !important;
  background-color: #ca8b37 !important;
}

#boxed {
  background-color: white;
  margin-left: 5px;
}
nav {
  position: static !important;
}

#warning {
  color: red;
}
.white-background {
  margin-top: 25px;
  margin-left: 15px;
  padding: 5px;
  background-color: white;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}
.no-padding {
  padding: 0;
}