body {
    background-color: #293133;
}
.login-box {
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20vh;
    width: 50%;
}
.btn {
    background-color: #ffc800;
    border-color: #ffc800;
}
.btn:link {
    background-color: #ffc800;
    border-color: #ffc800;
}
.btn:hover {
    background-color: #ff9e00;
    border-color: #ff9e00;    
}
img {
    max-height: 120px;
    text-align: center;
}
.btn:disabled {
    background-color: #ffc800;
    border-color: #ffc800;
}